<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
</head>
<body>
    <p>印老师、李老师：<br/><br/>您好！<br/>附件是#date#的PDF版日报。</p>
    <div>
        <ul>
            <li style="font-size: 14px">#salt#</li>
            <li style="font-size: 14px">#fat#</li>
        </ul>
    </div>
    <p>网页版日报的链接与认证信息如下：</p>
    <p>&nbsp;&nbsp;链接：<a href="http://114.242.177.193/daily_report/">http://114.242.177.193/daily_report/</a></p>
    <p>&nbsp;&nbsp;用户名：report_viewer<br/>&nbsp;&nbsp;密码：SaltReduction@China2018</p>
    <p>打开链接并通过认证后可根据文件名点击相应文件查看日报，此外，点击进入“pdf/”可查看、下载PDF版日报。</p>
    <p>祝您工作顺利！<br/><br/>孙亚伟<br/></p>
</body>
</html>