        <tr style="padding-top:10px;">
          <td width="43%" class="h3">#news_index#.
            <a href="#url#" target="_blank">#title#</a></td>
          <td width="18%">来源：#source#</td>
          <td width="17%">主体：#news_subject#</td>
          <td width="12%">态度：#attitude#</td>
          <td width="10%" style="text-align:right;">时间： #time#</td>
        </tr>
        <tr style="padding-top:10px;">
          <td width="43%" class="h3">
            <a href="#url#" target="_blank">#title_en#</a></td>
          <td width="18%">Source: #source_en#</td>
          <td width="17%">Subject: #news_subject_en#</td>
          <td width="12%">Attitude: #attitude_en#</td>
          <td width="10%" style="text-align:right;">Time: #time#</td>
        </tr>
        <tr>
          <td class="bgborder" bgcolor="#E9E9E9" style="padding:10px 10px 10px 10px;" colspan="5">
            <div>#abstract_cn#</div></td>
        </tr>
        <tr>
          <td class="bgborder" bgcolor="#E9E9E9" style="padding:10px 10px 10px 10px;" colspan="5">
            <div>#abstract_en#</div></td>
        </tr>
