
                            <div class="wechat-article-info">
                                <tr style="padding-top:10px;">
                                    <td width="70%" class="h3">
                                        <div>#show_index#.&nbsp;<a href="#article_url#" target="_blank">#title_cn#</a></div>
                                    </td>
                                    <td width="10%">阅读数：#read_num#</td>
                                    <td width="20%" style="text-align:right;">来源：#source#</td>
                                </tr>
                                <tr style="padding-top:10px;">
                                    <td width="70%" class="h3">
                                        <div>&nbsp;&nbsp;<a href="#article_url#" target="_blank">#title_en#</a></div>
                                    </td>
                                    <td width="15%">Read Number：#read_num#</td>
                                    <td width="15%" style="text-align:right;">Source：#source_en#</td>
                                </tr>
                                <tr>
                                    <td class="bgborder" bgcolor="#E9E9E9" style="padding:10px 10px 10px 10px;"
                                        colspan="4">
                                        <div>#abstract_cn#</div>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="bgborder" bgcolor="#E9E9E9" style="padding:10px 10px 10px 10px;"
                                        colspan="4">
                                        <div>#abstract_en#</div>
                                    </td>
                                </tr>
                            </div>
