
                            <div class="wechat-article-info">
                                <tr style="padding-top:10px;">
                                    <td width="70%" class="h3">
                                        <div>#show_index#.&nbsp;<a href="#article_url#" target="_blank">#title_cn#</a></div>
                                    </td>
                                    <td width="15%">重复数：#repeat_num#</td>
                                    <td width="15%" style="text-align:right;">日期：#the_date#</td>
                                </tr>
                                <tr style="padding-top:10px;">
                                    <td width="70%" class="h3">
                                        <div>&nbsp;&nbsp;<a href="#article_url#" target="_blank">#title_en#</a></div>
                                    </td>
                                    <td width="15%">Repeat Number：#repeat_num#</td>
                                    <td width="15%" style="text-align:right;">Data：#the_date#</td>
                                </tr>
                                <tr>
                                    <td class="bgborder" bgcolor="#E9E9E9" style="padding:10px 10px 10px 10px;"
                                        colspan="4">
                                        <div>#abstract_cn#</div>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="bgborder" bgcolor="#E9E9E9" style="padding:10px 10px 10px 10px;"
                                        colspan="4">
                                        <div>#abstract_en#</div>
                                    </td>
                                </tr>
                            </div>
