            <li>
                <dl class="user">
                    <dt style="width: 30%">昵称：#nick_name#</dt>
                    <dt style="width: 30%">地区：#user_location_cn#</dt>
                    <dt style="width: 30%">认证：#user_identity_cn#</dt>
                </dl>
                <dl class="user">
                    <dt style="width: 30%">Nickname：#nick_name#</dt>
                    <dt style="width: 30%">Area：#user_location_en#</dt>
                    <dt style="width: 30%">Identity：#user_identity_en#</dt>
                </dl>
                <dl class="source">
                    <dt style="width: 15%">时间：#created_time#</dt>
                    <dt style="width: 15%">来自：#source_cn#</dt>
                    <dt style="width: 15%">转发数：#repost_num#</dt>
                    <dt style="width: 15%">评论数：#comment_num#</dt>
                    <dt style="width: 15%">点赞数：#like_num#</dt>
                </dl>
                <dl class="source">
                    <dt style="width: 15%">Time：#created_time#</dt>
                    <dt style="width: 15%">Source：#source_en#</dt>
                    <dt style="width: 15%">Repost：#repost_num#</dt>
                    <dt style="width: 15%">Comment：#comment_num#</dt>
                    <dt style="width: 15%">Like：#like_num#</dt>
                </dl>
                <div class="percon"><a style="color:black;text-align: left"
                                       href="https://m.weibo.cn/status/#weibo_id#" target="_blank">#content_cn#</a>
                </div>
                <div class="percon"><a style="color:black;text-align: left"
                                       href="https://m.weibo.cn/status/#weibo_id#" target="_blank">#content_en#</a>
                </div>
            </li>
